<div id="presentation">
  <img id="picture" src="assets/face.png"/>
  <div id="name">
    <h1>Tom Walker</h1>
    <h2 class="light-grey">Software Engineer</h2>
  </div>
</div>

<div id="main">
  <div id="left">
    <div id="profile">
      <h3>Profile</h3>
      <p style="margin: 1em 2em">Developer passionate about computer science in its entirety, I made development my
        profession 4 years ago. I am
        always looking for new challenges and new knowledge</p>
    </div>

    <div id="contact">
      <h3 class="center-flex">Contact</h3>
      <div>
        <p>
          <fa-icon class="ml1" [icon]="faPhone"></fa-icon>
          <span class="ml1">+33 6 95 12 97 38</span></p>
      </div>
      <div>
        <p>
          <fa-icon class="ml1" [icon]="faMail"></fa-icon>
          <span class="ml1">tom1997walker@gmail.com</span></p>
      </div>
      <div>
        <p>
          <fa-icon class="ml1" [icon]="faAddress"></fa-icon>
          <span class="ml1">Joinville-Le-Pont, France</span></p>
      </div>
      <div>
        <p>
          <fa-icon class="ml1" [icon]="faBirth"></fa-icon>
          <span class="ml1">Septembre 29, 1997</span></p>
      </div>
    </div>

    <div id="school">
      <h3 class="red center-flex">School</h3>
      <h4 class="pl2">Epitech</h4>
      <p>Bachelor's degree in Information Technology</p>
      <ul>
        <li>Software development</li>
        <li>Security</li>
        <li>System administration</li>
      </ul>
    </div>

    <div id="work">
      <h3 class="red center-flex">My work</h3>

      <h4 class="pl2">Article</h4>
      <a class="red" href="https://blog.ippon.fr/2020/06/05/mockito-pour-les-debutants/">Mockito article</a>
      <h4 class="pl2 mt1">Github</h4>
      <a class="red" href="https://github.com/LofoWalker">My Github</a>
    </div>
  </div>

  <div id="mid">
    <h3 class="center-flex red">Professional skills</h3>

    <h4 class="pl2">Framework</h4>
    <ul>
      <li>Spring (Data / Batch / Boot / Reactive / Security)</li>
      <li>Hibernate / JDBC</li>
      <li>Angular / VueJs</li>
      <li>Mockito</li>
      <li>JUnit</li>
      <li>Microservices</li>
    </ul>

    <h4 class="pl2">Tools</h4>
    <ul>
      <li>Git</li>
      <li>Maven / Gradle</li>
      <li>Npm</li>
      <li>Jenkins / Heroku</li>
      <li>AWS / GCP</li>
      <li>Docker</li>
      <li>ElasticSearch</li>
    </ul>

    <h4 class="pl2">Methodology</h4>
    <ul>
      <li>Scrum</li>
      <li>TDD</li>
    </ul>

    <h4 class="pl2">Soft Skills</h4>
    <ul>
      <li>Lead</li>
      <li>Self-learning</li>
      <li>Problem-solving skills and critical thinking</li>
    </ul>

    <h4 class="pl2">Operating System</h4>
    <ul>
      <li>Unix / Linux</li>
      <li>MacOs</li>
      <li>Windows</li>
    </ul>
  </div>

  <div id="right">
    <h3 class="red center-flex">Career resume</h3>

    <h4 class="pl2">Fullstack Developer</h4>
    <h5 class="red">Fabrick<br/>October 2021 - Today</h5>
    <h5>Client : World Organization for Animal Health</h5>
    <p class="center-flex underline">AR (Spring Reactive / Angular)</p>
    <ul>
      <li>Software and datamodel architecture</li>
      <li>Lead developer</li>
    </ul>
    <p class="center-flex underline">IN/FUR (Spring Reactive / Angular)</p>
    <ul>
      <li>Understand and solve the problems of the current application</li>
      <li>Lead and train junior members of the team</li>
    </ul>

    <hr>

    <h4 class="pl2">Design and development engineer</h4>
    <h5 class="red">Ippon Technology<br/>April 2019 - Septembre 2021</h5>
    <h5>Client : Galeries Lafayette (Spring / Vue Angular)</h5>
    <ul>
      <li>Consulting and develop fullstack application based on Spring and Angular/VueJs</li>
      <li>Feasibility study</li>
      <li>Framework Upgrade</li>
    </ul>
    <h5>Client : Thales (Mockito / Junit)</h5>
    <ul>
      <li>Technical management of the team</li>
      <li>Live coding session</li>
      <li>Testing team training</li>
    </ul>

    <hr>

    <h4 class="pl2">Software developer</h4>
    <h5 class="red">KHIPLUS<br/>September 2018 - March 2019</h5>
    <h5>Client : Clemessy (J2EE / JSF)</h5>
    <ul>
      <li>Development of a data management software</li>
    </ul>
  </div>
</div>

<div class="flex-end pt2">
  <button type="button" (click)="download()" class="custom-button"><fa-icon [icon]="faDownload"></fa-icon> Download my CV</button>
</div>
